<script src="<%= sub_route %>components/jquery/dist/jquery.min.js"></script>
<script src="<%= sub_route %>components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="<%= sub_route %>components/vue/dist/vue.min.js"></script>
<script src="<%= sub_route %>components/vue-resource/dist/vue-resource.min.js"></script>
<script src="<%= sub_route %>components/vue-router/dist/vue-router.min.js"></script>
<script src="<%= sub_route %>components/vue-strap/dist/vue-strap.min.js"></script>
<script src="<%= sub_route %>components/vue-validator/dist/vue-validator.min.js"></script>
<script src="<%= sub_route %>components/vue-file-upload/vue.file-upload.js"></script>
<script src="<%= sub_route %>components/vue-file-upload/vue.pretty-bytes.js"></script>
<script src="<%= sub_route %>components/chartjs/Chart.js"></script>
<script src="<%= sub_route %>js/vue-starp.component.js"></script>
<script src="<%= sub_route %>js/application.js"></script>
<script src="<%= sub_route %>js/filters.js"></script>

