<% var sub_route = '../' %>
<% include templates/header.ejs %>

<div class="container" id="form">
    <form  @submit="onSubmit($event)">
        <div class="form-group">
            <label for="userEmail">อีเมล</label>
            <input type="email" class="form-control" id="userEmail" placeholder="อีเมล" v-model="userEmail" :disabled="isUpdate" />
        </div>
        <div class="form-group" v-class="{'has-error': userPassword !== confirmPassword}">
            <label for="userPassword">รหัสผ่าน</label>
            <input type="password" class="form-control" id="userPassword" placeholder="รหัสผ่าน" v-model="userPassword" />
        </div>
        <div class="form-group" class="{'has-error': userPassword !== confirmPassword}">
            <label for="confirmPassword">ยืนยันรหัสผ่าน</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="ยืนยันรหัสผ่าน" v-model="confirmPassword" />
        </div>
        <div class="form-group">
            <label for="studentId">รหัสนักศึกษา</label>
            <input type="text" class="form-control" id="studentId" placeholder="รหัสนักศึกษา" v-model="studentId" />
        </div>
        <div class="form-group">
            <label for="studentName">ชื่อ-นามสกุล</label>
            <input type="text" class="form-control" id="studentName" placeholder="ชื่อ - นามสกุล" v-model="studentName" />
        </div>
        <div class="radio">
            <p><b> เพศ </b></p>
            <label>
                <input type="radio" v-model="gender" value="male" />
                ชาย
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" v-model="gender" value="female" />
                หญิง
            </label>
        </div>
        <div class="form-group">
            <label for="birthdate">วันเกิด</label>
            <input type="date" class="form-control" id="birthdate"  v-model="birthdate" />
        </div>
        <div class="form-group">
            <p><b> สาขา </b></p>
            <select class="form-control" v-model="userMajor" >
                <option v-for="major in listMajor" value="{{major.major_id}}">{{major.major_name}}</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit" v-if="!isUpdate">ลงทะเบียน</button>
        <button class="btn btn-primary" type="submit" v-else>ทำการแก้ไข</button>
    </form>
</div>

<% include templates/scripts.ejs %>
<script src="js/register.js"></script>
<% include templates/footer.ejs %>
