<% var sub_route = '../' %>
<% include templates/header.ejs %>
<div class="container" id="users">
    <table class="table">
        <tr>
            <td>ลำดับที่</td>
            <td>รหัสนักศึกษา</td>
            <td>ชื่อ-นามสกกุล</td>
            <td>ลบ</td>
        </tr>
        <tr v-for="user in users">
            <td>{{$index+1}}</td>
            <td>{{user.student_id}}</td>
            <td>{{user.mem_name + " " + user.mem_lname}}</td>
            <td>
                <button class="btn btn-danger" @click="confirmRemoveUser = true,removeEmail = user.login_email" >ลบ</button>
            </td>
        </tr>
    </table>

    <!-- components -->
    <modal :show.sync="confirmRemoveUser" effect="zoom" width="20vw">
        <div slot="modal-body" class="modal-body">
            ยืนยันการลบนักศึกษา
        </div>
        <div slot="modal-footer" class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-danger" @click='deleteUserByEmail(removeEmail)'>ยืนยันการลบ</button>
            <button type="button" class="btn btn-default" @click='confirmRemoveUser = false'>ยกเลิกการลบ</button>
        </div>
    </modal>

    <alert
            :show.sync="showAlert"
            :duration="3000"
            type="success"
            width="400px"
            placement="top"
            dismissable>
        <span class="icon-info-circled alert-icon-float-left"></span>
        <strong>แจ้งเตือน</strong>
        <p>{{alertMessage}}</p>
    </alert>
    <!-- end components -->

</div>
<% include templates/scripts.ejs %>
<script src="js/users.js"></script>
<% include templates/footer.ejs %>
