<% var sub_route = '../' %>
<% include templates/header.ejs %>
<style>
    img {
        width: 7.25vw
    }
</style>
<div class="container" id="voteList">
    <div class="row">
        <div class="row">
            <h1>ดาว</h1>
        </div>
        <div class="row">
            <div class="col-md-1" v-for="girl in girls">
                <div class="row">
                    <img :src="'../../<% sub_route %>' | convertImageURL girl.star_id girl.year" alt="">
                </div>
                <div class="row" v-show="isLogin">
                    <button class="btn btn-default" :disabled="girlVoted" @click="voteStar(girl.star_id)">โหวต {{girl.star_id}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <h1>เดือน</h1>
        </div>
        <div class="row">
            <div class="col-md-1" v-for="boy in boys">
                <div class="row">
                    <img :src="'../../<% sub_route %>' | convertImageURL boy.star_id boy.year" alt="">
                </div>
                <div class="row" v-show="isLogin">
                    <button class="btn btn-default" :disabled="boyVoted" @click="voteStar(boy.star_id)">โหวต {{boy.star_id}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <h1>ดาวเทียม</h1>
        </div>
        <div class="row">
            <div class="col-md-1" v-for="ladyBoy in ladyBoys">
                <div class="row">
                    <img :src="'../../<% sub_route %>' | convertImageURL ladyBoy.star_id ladyBoy.year" alt="">
                </div>
                <div class="row" v-show="isLogin">
                    <button class="btn btn-default" :disabled="ladyBoyVoted" @click="voteStar(ladyBoy.star_id)">โหวต {{ladyBoy.star_id}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <h1>เดือนเทียม</h1>
        </div>
        <div class="row">
            <div class="col-md-1" v-for="tomBoy in tomBoys">
                <div class="row">
                    <img :src="'../../<% sub_route %>' | convertImageURL tomBoy.star_id tomBoy.year" alt="">
                </div>
                <div class="row" v-show="isLogin">
                    <button class="btn btn-default" :disabled="tomBoyVoted" @click="voteStar(tomBoy.star_id)">โหวต {{tomBoy.star_id}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<% include templates/scripts.ejs %>
<script src="<%= sub_route %>js/vote_list.js"></script>
<% include templates/footer.ejs %>
